html {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

* {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 16px;

  --sky-50: #f0f9ff;
  --sky-100: #e0f2fe;
  --sky-200: #bae6fd;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;
  --grey: #666666;
  --shadow-grey: #aaaaaa;
  --light-grey: rgba(139, 160, 189, 0.214);
}

body {
  margin: 0px;
}

button {
  appearance: none;
  border: none;
}

/** Color palette styles */
.background-dark-blue {
  background-color: var(--sky-700);
}

.color-light {
  color: var(--sky-50);
}

.color-black {
  color: var(--black);
}

.color-grey {
  color: var(--grey);
}

li {
  list-style-type: none;
}

input[type='search'] {
  width: 750px;
  max-width: 100%;
  appearance: none;
  box-shadow: 1px 2px 4px 0px var(--shadow-grey);
  background-color: var(--light-grey);
  position: relative;
}

input[type='search']::before {
  position: absolute;
  content: '<i class="fa-solid fa-magnifying-glass"></i>';
}

input[type='search']:focus {
  outline: 2px solid var(--shadow-grey);
  outline-offset: 2px;
}

/** The following classes define general page layout */
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(250px, max-content) 4fr;
  grid-template-rows: max-content 3fr;

  row-gap: 3px;
}

.padding-h-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-v-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-10 {
  padding: 10px;
}

/** navbar classes */
.flex-branding {
  display: flex;
  flex-flow: column nowrap;
}

.nav-grid-col {
  grid-column: 1;
  grid-row: 1 / span 2;

  display: grid;
  grid-template-columns: 1fr;
}

.grid-navbar-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: 1.5rem;
}

.grid-navbar-items li {
  cursor: pointer;
}

.fa-solid {
  width: 40px;
  text-align: center;
}

/** Grid layouts used throughout the page */
/** The following classes place header grids relative to their parent grid */
.header-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding-inline: 80px;
}

.header-grid-row {
  grid-column: 2;
  grid-row: 1;
}

.header-search-grid-placement {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
}

.header-account-grid-placement {
  grid-row: 1;
  grid-column: 2;
}

.grid-header-account {
  display: grid;
  grid-template-columns: 50px 300px;
  grid-auto-flow: row;
  gap: 10px;

  align-items: center;
}

.grid-header-account button {
  background-color: white;
}

.account-welcome-grid-placement {
  grid-row: 2;
  grid-column: 1;
}

.flex-account {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 20px;
}

.grid-account-welcome {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.card-controls-grid-placement {
  grid-row: 2;
  grid-column: 2;
}

.grid-card-controls {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  justify-items: center;
  gap: 15px;
}

.grid-card-controls button {
  border-radius: 25px;
  height: 3rem;
  padding: 10px;
  width: 100px;
}

button:active {
  transform: translateY(1.5px);
}

/** The following css rulesets place descendant grids of the main element*/
.main-grid-row {
  grid-column: 2;
  grid-row: 2;
}

.main-grid {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 2rem 1fr 2rem 1fr;
  grid-template-areas:
    'proj-title announcements-title'
    'proj announcements'
    'proj trending-title'
    'proj trending';
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: var(--light-grey);
}

.project-title {
  grid-area: proj-title;
  align-self: center;
}

.article-grid {
  grid-area: proj;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.article-card {
  border: 1px solid var(--shadow-grey);
  background-color: white;
  padding: 20px;
}

.article-card-grid {
  display: grid;
  grid-template-rows: 1rem 1fr 2rem;
  align-content: flex-start;
}

.article-card-grid button,
.grid-header-account button {
  width: 40px;
  height: auto;
  padding: 5px;
}

/** Announcement and trending column grids */
.trending-title {
  grid-area: trending-title;
  align-self: center;
}

.announcements-title {
  grid-area: announcements-title;
  align-self: center;
}

.trending-grid-placement {
  grid-area: trending;
}

.announcements-grid-placement {
  grid-area: announcements;
}

.announcements-grid,
.trending-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.announcement-card-grid,
.trending-card-grid {
  display: grid;
  grid-template-columns: minmax(60px, max-content) 1fr;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
}

.announcement-card-grid {
  align-items: first baseline;
}

.announcement-image,
.userpic-image {
  height: auto;
  justify-self: center;
  width: 70px;
}

.userpic-image {
  border-radius: 50%;
}

/** Grid gap styles */
.gap-30 {
  gap: 30px;
}

.gap-15 {
  gap: 15px;
}

/** Aligns content along the block axis */
.align-content-start {
  align-content: start;
}

.align-content-center {
  align-content: center;
}

.align-center {
  align-items: center;
}

.self-j-end {
  justify-self: end;
}

/** Large userpic */
#userpic-small {
  border-radius: 50%;

  width: 65px;
  height: 65px;
}

#userpic-large {
  border-radius: 50%;

  width: 100px;
  height: 100px;
}

/** Font styles */
.font-bold {
  font-weight: 600;
}

.font-2rem {
  font-size: 2rem;
}

.font-1_5rem {
  font-size: 1.5rem;
}

/** Border styles */
.border-round {
  border-radius: 8px;
}

.border-shadow {
  box-shadow: 1px 2px 4px 0px var(--shadow-grey);
}

.border-thin-grey {
  border: 1px solid var(--grey);
}
